
.table-card {
    width:100%; margin-bottom: 30px;
}

.table-card td{
    padding: 20px; 
    border: 1px solid #898989; 
    border-radius: 6px;
    background-color: #e5e8ec;
}
.table-card-side{
    vertical-align: top; text-align: right; width: 30%;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}