
.table-card {
    width:100%; margin-bottom: 30px;
}

.table-card td{
    padding: 20px; 
    border: 1px solid #d6d9dd; 
    border-radius: 6px;
    background-color: #e5e8ec;
}
.table-card-side{
    vertical-align: top; text-align: right; width: 30%;
}