
.table-card {
    width:100%; margin-bottom: 30px;
}

.table-card td{
    padding: 20px; border: 1px solid #c4c8ce; border-radius: 6px;
}
.table-card-side{
    vertical-align: top; text-align: right; width: 30%;
}